{% extends 'base.html' %}
{% block post %}
<form class="mt-5 mb-5" action="/feedback_existing_submit/" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="email">Your Email</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label class="mr-sm-2" for="schoolName">Select School</label>
    <select class="custom-select mr-sm-2" id="schoolName">
      <option selected>School...</option>
      {% for school in schools %}
      <option value="{{ school.pk }}">{{ school }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="feedback">Feedback</label>
    <textarea class="form-control" id="feedback" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>
</form>
<hr>
<center><b>OR</b></center>
<hr>
<form class="mt-5 mb-5"  action="/feedback_new_submit/" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="schoolName">Name of School</label>
    <input type="text" class="form-control" id="schoolName" placeholder="St. Mary Academy">
  </div>
<div class="form-group">
    <label for="email">Your Email</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">City / Village</label>
      <input type="text" class="form-control" id="city">
    </div>
    <div class="form-group col-md-4">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state">

    </div>
    <div class="form-group col-md-2">
      <label for="zip_code">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <label for="feedback">Feedback</label>
    <textarea class="form-control" id="feedback" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>
</form>

{% endblock %}

{% block sidebar %}

<div class="card my-4">
  <h5 class="card-header">Search your school</h5>
  <div class="card-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
    </div>
  </div>
</div>

{% endblock %}